.button {
    flex: 1 0 calc(25% - 10px);
    height: 60px;
    font-size: 22px;
    border: none;
    border-radius: 8px;
    background: #444;
    color: white;
    cursor: pointer;
}

.button:last-child {
    flex: 1 0 calc(50% - 10px);
}